


header{
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
 justify-content: space-between;
 flex-wrap: wrap;
 transition: 0.3s;
}

.button-container{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.group-ride-text {
  transform: rotate(360deg);
  justify-content: flex-start;
  font-size: 28px;
  font-family: 'Rock Salt', cursive;
  color: #ffb703;

}


@media screen and (max-width: 768px) and (min-width: 420px){
  .header{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
     
  } 
  .button{
      font-size: 10px;
      justify-content: center;
      width: fit-content;
      height: fit-content;
  }

}

@media screen and (max-width: 414px) {
  .header{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      width: 300px;
      height: 300px;
     
  } 
  .button{
      font-size: 7px;
      justify-content: center;
      width: fit-content;
      height: fit-content;

  }

}

.button {
  color: white;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: bold;
  font-size: 17px;
  font-family: inherit;
  z-index: 1;
  background: #8D99AE;
  border-radius: 5px;
  display: flex;
  justify-content: center;

}
.button::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #2b2d42;
  color: white;
  transition: 1s ease;
}

.button::before {
  top: -20px;
  left: -20px;
}

.button:hover::before {
  height: 280px;
  width: 280px;
}

.button:hover {
  color: white;
}

.button:active {
  filter: brightness(1.3);
}

