

<!-- <mat-toolbar class="toolbar" fxLayout="row"> 
  <span class="group-ride-text"fxFlex>Group Ride</span>
  <button mat-button *ngFor="let item of menuItems" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
    [fxShow.sm]="item.showOnTablet" [routerLink]='item.route' routerLinkActive="active" class="btn">
    {{item.label}}
  </button>
<ng-container>
  <button mat-icon-button [matMenuTriggerFor]="navbar"  class="btn"><fa-icon [icon]="faBars" size="2x" class="fa-bars"></fa-icon></button>

   <mat-menu yPosition="below" xPosition="before" [overlapTrigger]='false' #navbar="matMenu"> 
   
  <ng-container *ngFor="let item of menuItems"> 
      <div [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet" [fxShow.xs]="!item.showOnMobile">
        <button class="btn" mat-menu-item [routerLink]='item.route' routerLinkActive="active" >{{item.label}}</button>
        <mat-divider></mat-divider>
      </div>
    </ng-container>
  </mat-menu>
</ng-container>
</mat-toolbar>  -->

<header> 
  <span class="group-ride-text">Group Ride</span>
  <ng-container class="button-container">
  <button *ngFor="let item of menuItems" [routerLink]="item.route" class="btn">{{item.label}}</button>
  </ng-container>
  <ng-container class="iconContainer">
    <button class="btn"><fa-icon [icon]="faBars" size="2x"  class="fa-bars"></fa-icon></button>
  </ng-container>

</header>
