@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


#cdk-overlay-0{
  z-index: 0;
  top: 50px;
}

  .group-ride-text {
    transform: rotate(360deg);
    font-size: 28px;
    font-family: 'Rock Salt', sans-serif;
    color: #ffb703;
}

.toolbar{
  background-color: black;
}

.fa-bars{
  display: flex-end;

}

.btn {
  color: white;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: bold;
  font-size: 17px;

  font-family: inherit;
  z-index: 1;
  background: #8D99AE;
  border-radius: 5px;
  display: flex;
  justify-content: center;

}
.btn::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #2b2d42;
  color: white;
  transition: 1s ease;
}

.btn::before {
  top: -20px;
  left: -20px;
}

.btn:hover::before {
  height: 280px;
  width: 280px;
}

.btn:hover {
  color: white;
}

.btn:active {
  filter: brightness(1.3);
}

.mat-icon-button{
  width: 45px;
  height: 45px;
  margin: 1px;
}

.mat-button{
  margin: 1px;
}