<app-navbar></app-navbar>

<div class="wrapper">
  <div class="page-header">
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-10 col-md-10 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="" />
            </div>
            <div class="card-body">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header"></th>
                          <th class="header">Sunday</th>
                          <th class="header">Monday</th>
                          <th class="header">Tuesday</th>
                          <th class="header">Wednesday</th>
                          <th class="header">Thursday</th>
                          <th class="header">Friday</th>
                          <th class="header">Saturday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr> Ride Times
                            <td>Closed / Take a Rest Day!</td>
                            <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                            <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                            <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                            <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                            <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                            <td>9am, 10:30am </td>
                          </tr>
                        <tr> 
                          <td></td>
                          <td><a href="" target="blank"></a></td>
                          <td><a href="" target="blank"></a></td>
                          <td><a href="" target="blank"></a></td>
                          <td><a href="" target="blank"></a></td>
                          <td><a href="" target="blank"></a></td>
                          <td><a href="" target="blank"></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

