<app-navbar></app-navbar>
<div class="background">
    <div class="row">
        <div>
            <div class="card">
                <div class="header">
                    <h1>Login Here!</h1>
                </div>
                    <form class="form-container" (ngSubmit)="userLogin()">
                        <div>
                            <input  type="email" class="form-label" id="insertEmail" placeholder="Enter Email" [(ngModel)]="loginUser.email" [ngModelOptions]="{standalone: true}">
                            <br>
                        </div>
                        <div>
                            <input type="password" class="form-label" id="inputPassword" placeholder="Enter Password" [(ngModel)]="loginUser.password" [ngModelOptions]="{standalone: true}">
                            <br>
                        </div>
                        <button type="button" routerLink="" id="cancel" class="btn">Close</button>
                        <button type="submit"  class="btn">Login</button>
                    </form>
                    <br>
                    <a href="http://localhost:4200/signup">Not Registered Yet? Sign Up Here!</a>

            </div>
        </div>
    </div>
</div>