<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div>
            <div class="card">
                <div class="header">
                    <h1>Login Here!</h1>
                </div>
                    <form class="form-container" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div>
                            <label for="insertEmail" class="form-label">Email  </label>
                            <input formControlName="email" type="email" class="form-label" id="insertEmail">
                            <br>
                        </div>
                        <div>
                            <label for="inputPassword" class="form-label">Password  </label>
                            <input formControlName="password" type="password" class="form-label" id="inputPassword">
                            <br>
                        </div>
                        <button type="button" routerLink="" id="cancel" class="btn">Close</button>
                        <button type="button"   class="btn">Login</button>
                    </form>
                    <a routerLink="signup">Not Registered Yet? Sign Up Here!</a>

            </div>
        </div>
    </div>
</div>