.bike-tabs ul {
    padding: 10px;
    background-color: blue;
    display: inline-block;
    border-radius: 2px;
    margin: 0;
}
.bike-tab {
    display: inline-block;
    list-style-type: none;
    border-right: 2px solid purple;
    color: red;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.bike-tab ul li:last-child {
    border-right: none;
}
.bike-tab ul li:hover {
    color:green;
}
.color {
    color: green;
}
.content {
    background-color: blue;
    padding: 20px;
    border-bottom: 1px solid white;    
}
.content-value h2 {
    font-size: 22px;
    font-weight: 600;
}