<!-- <div class="bikes-container">
    <div class="mytabs">
        <div *ngFor="let bike of bikeList">
            <input type="radio" id="tab{{bike.id}}" name="mytabs" >
            <label for="tab{{bike.id}}"><fa-icon [icon]="faMotorcycle" size="1x" class="bike-icon "></fa-icon> {{bike.id}}</label>
            <div class="tab">
                <h4>Type</h4>
                <p class="bike-tps">{{bike.type}}</p>
                <h4>Make</h4>
                <p class="bike-mk">{{bike.make}}</p>
                <h4>Model</h4>
                <p class="bike-mdl">{{bike.model}}</p>
                <h4>Engine Size</h4>
                <p class="bike-eng">{{bike.engineSize}}</p> 
            </div>    
        </div>
    </div>
</div> -->
<div class="bikes-container">
    <div class="bike-tab">  
        <ul>
            <li *ngFor="let bike of bikeList" id="tab{{bike.id}}" routerLink="/garage/bike/{{bike.id}}" (click)="Reload()"><fa-icon [icon]="faMotorcycle" size="1x" class="bike-icon "></fa-icon> {{bike.id}}</li> 
        </ul>
    </div>    
</div>

<router-outlet></router-outlet>