<div class="home-page-container">
    <div class="background">
        <div class="nav"> nav bar </div>
        <div class="homepage-info">
            <div class="title">
                <h1>Group Ride</h1>
                <h1>Never ride alone.</h1>
                <p>Find people in your area!</p>
            </div>
            <div class="group-ride-text">
                Group Ride
            </div> 
            <div class="buttons">
                <button class="mainpage-btn">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">LEARN MORE</span>
                </button>
                <button class="ev mainpage-btn">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">EVENTS</span>
                </button>
            </div> 
            <div class="diagonal-div">
                <div class="left-diag-container"></div>
    
            </div>
        </div>
    </div>
    <div class="sec2-container">
        <div class="info-container">
            <img class="img" src="../../../assets/img/bike1.jpg">
            <div class="information">
                <h5>Group Ride</h5>
                <h3>Dont be shy</h3>
                <h3>Ride with Us!</h3>
                <div>
                    <p class="info-p">Sed quis sapien eu nisi tincidunt tristique vel in elit. Etiam lobortis malesuada tortor. Phasellus tempor porta sollicitudin. Suspendisse elementum maximus eros nec pretium. Nullam dapibus lobortis eros sit amet ornare. Vestibulum hendrerit molestie molestie. Morbi dui dolor, suscipit quis augue et, tempus dignissim nisl. </p>
                </div>
                <div class="four-info-container">
                    <div>
                        <h4>Profile</h4>
                        <p>Share about yourself to others!</p>
                    </div>
                    <div>
                        <h4>Events</h4>
                        <p>Check for near by events!</p>
                    </div>
                    <div>
                        <h4>Gallery</h4>
                        <p>Share pics with the comunity!</p>
                    </div>
                    <div>
                        <h4>Connect with Others</h4>
                        <p>Check out our Community page!</p>
                    </div>
                </div>
            </div>
            <img  class="img" src="../../../assets/img/bike8.jpg" >
        </div>
    </div>
</div>
