
<app-navbar></app-navbar>

<div class="home-page-container">
    <div class="background">
<app-navbar></app-navbar>
        <div class="homepage-info">
            <div class="title">
                <h1>Group Ride</h1>
                <h1>Never ride alone.</h1>
                <p>Find people in your area!</p>
            </div>
            <div class="group-ride-text">
                Group Ride
            </div> 
            <div class="buttons">
                <button class="mainpage-btn">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">LEARN MORE</span>
                </button>
                <button class="ev mainpage-btn">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">EVENTS</span>
                </button>
            </div> 
            <div class="diagonal-div">
                <!-- <div class="diag-container"></div> -->
            </div>
        </div>
    </div>
    <div class="sec2-container">
        <div class="info-container">
            <img class="img bike1" src="../../../assets/img/bike1.jpg">
            <div class="information">
                <h4>Group Ride</h4>
                <h3>Dont be shy</h3>
                <h2>Ride with Us!</h2>
                <div>
                    <p class="info-p">Sed quis sapien eu nisi tincidunt tristique vel in elit. Etiam lobortis malesuada tortor. Phasellus tempor porta sollicitudin. Suspendisse elementum maximus eros nec pretium. Nullam dapibus lobortis eros sit amet ornare. Vestibulum hendrerit molestie molestie. Morbi dui dolor, suscipit quis augue et, tempus dignissim nisl. </p>
                </div>
                <div class="four-info-container">
                    <div class="align-container">
                        <div class="align-icon">
                            <fa-icon [icon]="faIdBadge" size="2x" class="info-icon "></fa-icon>
                        </div>
                        <div>
                            <h3>Profile</h3>
                            <p>Share about yourself to others!</p>
                        </div>
                    </div>    
                    <div class="align-container">  
                        <div class="align-icon">
                            <fa-icon [icon]="faCalendarAlt" size="2x" class="info-icon "></fa-icon> 
                        </div>
                        <div>
                            <h3>Events</h3>
                            <p>Check for near by events!</p>
                        </div>
                    </div>     
                    <div class="align-container"> 
                        <div class="align-icon">
                            <fa-icon [icon]="faImages" size="2x" class="info-icon "></fa-icon>  
                        </div>
                        <div>
                            <h3>Gallery</h3>
                            <p>Share pics with the comunity!</p>
                        </div>
                    </div>     
                    <div class="align-container"> 
                        <div class="align-icon">
                            <fa-icon [icon]="faHandshake" size="2x" class="info-icon "></fa-icon>   
                        </div>
                        <div>
                            <h3>Connect</h3>
                            <p>Check out our Community page!</p>
                        </div>
                    </div>
                </div>
            </div>
            <img  class="img bike2" src="../../../assets/img/bike8.jpg" >
        </div>
    </div>
</div>

