.bikes {
    background-image: linear-gradient( #edf2f4 5%, #8d99ae 90% );
    border: 3px solid #2b2d42;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.content-value {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 15px 0px 14px 30px;
    
}

h4 {
    padding: 5px 5px 3px;
}

.bike-info {
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    width: 80%;
}

.info-sec1 {
    width: 50%;
}

.info-sec2 {
    width: 50%;
}

.info-sec3 {
    width: 50%;
}

.info-sec4 {
    width: 50%;
}
.save-btn {
    display: flex;
    justify-content: center; 
    width: 100%;
    padding-top: 15px; 
    margin-left: -18px;
}
