<div class="bikes">
    <form (ngSubmit)="addBike()" class="content-value">
        <div class="info-sec1">
            <h4 for="Type">Type: </h4>
            <select id="Type" name="Type" class="bike-info" [(ngModel)]="newBike.type" required>
                <option value="Sportbike" selected>Sportbike</option>
                <option value="Cruiser" >Cruiser</option>
                <option value="Dual-sport" >Dual-sport</option>
                <option value="Dresser" >Dresser</option>
                <option value="Sport-Tourer" >Sport-Tourer</option>
                <option value="Scooter" >Scooter</option>
                <option value="Standard" >Standard</option>
                <option value="Dirt Bike" >Dirt Bike</option>
                <option value="Electric" >Electric</option>
                <option value="Hyperbike" >Hyperbike</option>
                <option value="Motard" >Motard</option>
                <option value="Minibike" >Minibike</option>
                <option value="Streetfighter" >Streetfighter</option>
                <option value="Chopper" >Chopper</option>
                <option value="Bobber" >Bobber</option>
                <option value="Bagger" >Bagger</option>
                <option value="Vintage" >Vintage</option>
                <option value="300-Class" >300-Class</option>
                <option value="Scrambler" >Scrambler</option>
            </select>    
        </div>  
        <div class="info-sec2"> 
            <h4>Make: </h4>
            <input type="text" name="Make" class="bike-info" [(ngModel)]="newBike.make" required>
        </div>    
        <div class="info-sec3">
            <h4>Model: </h4>
            <input type="text" name="Model" class="bike-info" [(ngModel)]="newBike.model" required>
        </div>    
        <div class="info-sec4">
            <h4>Engine Size: </h4>
            <input type="text" name="EngineSize" class="bike-info" [(ngModel)]="newBike.engineSize" required>
        </div>
        <div class="save-btn">     
            <button class="btn" type="submit" (click)="refresh()">Save Bike</button>
        </div>
    </form>
</div>

