<div *ngIf="images && images.length > 0" class="carusel-container">
    <img *ngFor="let image of images; let i=index" 
        [src]="image.imgSrc" [alt]="image.imgAlt"
        [ngClass]="{'image-active': selectedIndex === i}"
        class="fade"   
    > 
    <button *ngIf="controls" class="btn-carusel btn-prev">
        <fa-icon [icon]="faArrowLeft" size="1x" 
        class="icon-carusel icon-prev"
        (click)="previous()"
        ></fa-icon>
    </button>
    <button *ngIf="controls" class="btn-carusel btn-next" (click)="next()">
        <fa-icon [icon]="faArrowRight" size="1x" 
            class="icon-carusel icon-next">
        </fa-icon>
    </button>
</div>
