<!-- ---------nav goes here-------- -->
<div class="mock-nav">nav bar place-holder</div>
<div class="profile-container">
    <!-- --------user container---------- -->
    <div class="user-pic">
        <!-- --------user Avatar/pic-------- ---->
        <div class="avatar-container">
            <!-- <img src="../../../img/avatar-placeholder.png" > -->
            <fa-icon [icon]="faUserCircle" size="10x" class="avatar-icon "></fa-icon>
        </div>
        <div class="username-id">
            <!-- --------user Username---------- -->
            <p class="username">{{UserName}}</p>
            <!-- --------user Id--------- --->
            <p class="id">User_ID: {{UserId}}</p>
        </div>
        
        <div class="setting">
            <!-- --------user setting button------- ---->
            <fa-icon [icon]="faUsersCog" size="2x" class="settings"></fa-icon> 
        </div>
    </div>
    <div class="txtntoggle">
        <p class="small-txt">Account details*</p>
        <div class="toggle">
            <!-- --------user toggle button------- ---->
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <!-- --------user account detailer---------- -->
    <div class="user-info">
        <!-- --------user personal info---------- -->
        <div class="info-sec1">
            <p class="info-sec-title">Full Name</p>
            <p class="info-fn">{{FullName}}</p>
        </div>
        <div class="info-sec2">
            <div>
                <p class="info-sec-title">City</p>
                <p class="info-cty">{{City}}</p>  
            </div>
            <div class="state-container">
                <p class="info-sec-title">State</p>
                <p class="info-state">{{State}}</p>
            </div>
        </div>
        <div class="info-sec3">
            <div>
                <p class="info-sec-title">Birthday</p>
                <p class="info-bir">{{Birthday}}</p>
            </div>
            <div class="email-container">
                <p class="info-sec-title">Email</p>
                <p class="info-eml">{{Email}}</p>
            </div>
        </div>
    </div>
    <div class="sec-border">
    </div>
    <!-- --------user garage---------- -->
    <div class="garage-container">
        <p>Garage</p>
        <div class="inner-garage-container">
            <app-garage></app-garage>
        </div>
    </div>
    <!-- --------user about section---------- -->
    <div class="about-container">
        <div>
            <p class="about-sec-title">A little about me</p>
            <textarea class="txt-area">
            Mauris placerat nulla neque. Proin rutrum tellus lacus, ut fringilla velit luctus in. In nisl justo, viverra at nibh ac, ultricies auctor metus. Maecenas malesuada velit et tortor sagittis, sit amet maximus tellus volutpat. Duis placerat semper aliquam. Donec scelerisque, sem quis viverra dapibus, lorem nunc lacinia nibh, a vehicula nunc magna at turpis. Maecenas fringilla sit amet nunc quis consequat. Integer iaculis dui at enim mollis, nec volutpat ipsum fermentum. Pellentesque at nisl eget est consectetur interdum. Suspendisse nec nibh leo. Donec aliquam nunc vel ultricies pharetra.
            </textarea>
        </div>
    </div>
    <!-- --------user gallery---------- -->
    <div class="gallery">
        
    </div>
</div>




