

/* ----replace with actual nav bar---- */
.mock-nav {
  background-color: #c3cfd9;
  height: 50px;
}

/* ----Avatar box---- */

.profile-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--darkgreen3);
  width: 100%;
}

.user-pic {
  background-color: var(--darkgreen1);
  display:flex;
  height: 200px;
  padding: 10px 0;
  border: 3px solid var(--highlight);
  border-bottom: none;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-left: 15px;
  height: 160px;
  width: 180px;
}
.small-txt {
  font-size: 12px;
}

.user-setting-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
}

.username-id {
  padding-top: 3em;
  padding-left: 10px;
}

.setting {
  padding-bottom: 55px;
}

.txtntoggle {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: 3px solid var(--highlight);
  border-top: none;
  background-color: var(--darkgreen1);
  padding:0 5px 0px 10px;
  margin-bottom: 12px
}

.toggle {
  padding-right: 5px;
  padding-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--darkgreen2);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--highlight);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--darkgreen1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ----------Account details-------- */
.user-info {
  background-color: var(--darkgreen1);
  border: 3px solid var(--highlight);
  padding: 20px;
  width: 100%;
  margin-bottom: 12px;
}

.info-sec-title {
  padding-left: 2px;
}

.info-fn {
  border: 1px solid var(--highlight);
  background-color: white;
  padding: 5px;
}

.info-sec1 {
  width: 100%;
}

.info-sec2 {
  display:flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}
.city-container {
  width: 100%;
}

.info-cty {
  border: 1px solid var(--highlight);
  background-color: white;
  padding: 5px;
  width: 100%;
}

.state-container {
  padding-left: 26px;
  width: 100%;
}

.info-state {
  border: 1px solid var(--highlight);
  background-color: white;
  padding: 5px;
}

.info-sec3 {
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.birthday-container {
  width: 25%;
}

.info-bir {
  border: 1px solid var(--highlight);
  background-color: white;
  padding: 5px;
  
}

.email-container {
  padding-left: 26px;
  width: 80%;
}

.info-eml {
  border: 1px solid var(--highlight);
  background-color: white;
  padding: 5px;
}


/* ----Garage---- */
.garage-container {
  background-color: var(--darkgreen1);
  border: 3px solid var(--highlight);
  padding: 15px;
  width: 100%;
  margin-bottom: 12px
}
.garage-title {
  padding-bottom: 10px;
}
.inner-garage-container {
  background-color: white;
  padding: 5px;
  width: 100%;
  height: 180px;
}

/* --------About me -------- */
.about-container {
  background-color: var(--darkgreen1);
  border: 3px solid var(--highlight);
  padding:15px;
  width: 100%;
  margin-bottom: 12px
}

.about-sec-title {
  padding-bottom: 10px;
}

.txt-area {
  padding: 5px;
  width: 100%;
  height: 180px;
}

/* -----Gallery------ */
.gallery {
  text-align: start;
  background-color: var(--darkgreen1);
  border: 3px solid var(--highlight);
  padding: 10px;
}

.inner-gal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 15px;
}

.img-gal  {
  width: 180px;
  height: 180px;
  margin: 1px;
  border: 2px solid black;
}

@media screen and (min-width: 768px){
  * {
    font-size: 16px;
  }
  .wrap-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  /* ----Avatar container---- */
  .username {
    font-size: 24px;
  }
  
  .user-id {
    font-size: 20px;
    padding-left: 2px;
  }
  /* -----Account details---- */
  
  .user-info {
    width: 100%;
    padding:30px 15px;
  }

  .info-sec1{
    width: 100%;
  }
  
  .info-sec2-3 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }
  
  .state-container {
    padding-left: 10px;
  }
  .birthday-container {
    padding-left: 10px;
  }
  
  .email-container {
    padding-left: 10px;
  }

  /* ----Garage---- */

  .garage-container {
    border: 3px solid var(--highlight);
    width: 49%;
    margin-right: 1%;
  }
  .inner-garage-container {
    width: 100%;
    height: 220px;
  }
  /* --------About me -------- */
  .about-container {
    border: 3px solid var(--highlight);
    width: 49%;
    margin-left: 1%;
  }
  .txt-area {
    width: 100%;
    height: 220px;
  }
  /* -----Gallery------ */
  .gallery {
    width: 100%;
  }
  .img-gal {
    width: 350px;
    height: 350px;
  }
}


@media screen and (min-width: 1020px){
  *{
    font-size: 18px;
  }
  /*----avatar container----*/
  .avatar-container {
    padding-top: 25px;
    padding-left: 30px;
  }
  .username {
    font-size: 34px;
    padding-left: 30px;
  }
  .user-id {
    font-size: 20px;
    padding-left: 33px;
  }
  /*----account details----*/
  .user-info {
    width: 39.5%;
    height: 280px;
    margin-right: .5%;
  }
  .info-sec2-3 {
    display: block;
    padding-top:0;
  }
  .info-sec2 {
    padding-top: 20px;    
  }
  .info-sec3 {
    padding-top: 20px;
  }
  .birthday-container {
    padding-left: 0;
  }
  
  /*----garage container------*/
  .garage-container {
    width: 59.5%;
    margin-left: .5%;
    margin-right: 0;
    height: 280px;
  }
  .inner-garage-container{
    height: 83%;
    width: 100%;
  }
  
  /*----about container----*/
  .about-container{
    width: 39.5%;
    margin-left: 0;
    margin-right: .5%;
    height: 325px;
  }
  .txt-area {
    width: 95%;
    height: 255px;
  }
  
  /*---- Gallery container----*/

  .gallery {
    width: 59.5%;
    padding-bottom: 30px;
    margin-left: .5%;
    height: 325px;
  }
  .a-gallery {
    padding-left: 20px;
    text-align: start;
  }
  .inner-gal-container{
    display: flex;
    justify-content: center;
    width: 600px;
    padding-left: 5%;
  }
  .img-gal {
    height: 120px;
    width: 120px;
  }
  
}
@media screen and (min-width: 1020px){
  .inner-gal-container{
    padding-left: 8%;
  }
}