<!-- ---------nav goes here-------- -->
<div class="mock-nav">nav bar place-holder</div>
<div class="profile-container">
    <!-- --------user container---------- -->
    <div class="user-pic">
        <!-- --------user Avatar/pic-------- ---->
        <div class="avatar-container">
            <!-- <img src="../../../img/avatar-placeholder.png" > -->
            <fa-icon [icon]="faUserCircle" size="10x" class="avatar-icon "></fa-icon>
            
        </div>
        <div class="username-id">
            <!-- --------user Username---------- -->
            <p class="username">Username</p>
            <!-- --------user Id--------- --->
            <p class="id">User_ID: XX</p>
        </div>
        
        <div class="setting">
            <!-- --------user setting button------- ---->
            <fa-icon [icon]="faUsersCog" size="2x" class="settings"></fa-icon> 
        </div>
    </div>
    <div class="txtntoggle">
        <p class="small-txt">Account details*</p>
        <div class="toggle">
            <!-- --------user toggle button------- ---->
            <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="user-info">
        <div class="info-sec1">
            <p class="info-sec-title">Full Name</p>
            <p class="info-fn">Placeholder</p>
        </div>
        <div class="info-sec2">
            <p class="info-sec-title">City</p>
            <p class="info-cty">Placeholder</p>
            <p class="info-sec-title">State</p>
            <select name="state" id="state">
                <option value="" selected="selected">Select a State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
            <p>Placeholder</p>
        </div>
        <div class="info-sec3">
            <p class="info-sec-title">Birthday</p>
            <p></p>
            <p class="info-sec-title">Email</p>
            <p class="info-eml">Placeholder</p>
        </div>
    </div>
    <div class="about">

    </div>
    <div class="gallery">

    </div>
</div>


<!-- --------user account detailer---------- -->
<!-- --------user personal info---------- -->
<!-- --------user garage---------- -->
<!-- --------user about section---------- -->
<!-- --------user gallery---------- -->

