

/* ----replace with actual nav bar---- */
.mock-nav {
  background-color: #c3cfd9;
  height: 50px;
}

/* ----Avatar box---- */
.background {
  background: linear-gradient(to bottom, #edf2f4 0%, #8d99ae 35%, #2b2d42 100% );
}
.profile-container {
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.user-pic {
  display:flex;
  height: 200px;
  padding: 10px 0;
  
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-left: 15px;
  height: 160px;
  width: 180px;
}
.small-txt {
  font-size: 12px;
}

.user-setting-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
}

.username-id {
  padding-top: 3em;
  padding-left: 10px;
  color: white;
  text-shadow: black 2px 2px 0;
}

.setting {
  padding-bottom: 55px;
}

.txtntoggle {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding:0 5px 5px 10px;
}

.toggle-data {
  display:flex;
  justify-content:center;
  align-items: center;
  
}
.toggle-data p {
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 10px;
}
.toggle {
  padding-right: 10px;
  padding-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8d99ae;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2b2d42;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ----------Account details-------- */
.user-info {
  border-top: 2px solid #edf2f4;
  border-bottom: 2px solid #edf2f4;
  padding: 20px;
  width: 100%;
  margin-bottom: 12px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0.5);
}

.info-sec-title {
  padding:0 0 2px 4px;
  color: black;
  text-shadow: white 1px 1px 0;
}

.info-fn {
  background-color: white;
  padding: 5px;
  border: 1px solid #8d99ae;
}

.info-sec1 {
  width: 100%;
}

.info-sec2 {
  display:flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}
.city-container {
  width: 100%;
}

.info-cty {
  background-color: white;
  padding: 5px;
  width: 100%;
  border: 1px solid #8d99ae;
}

.state-container {
  padding-left: 26px;
  width: 100%;
}

.info-state {
  background-color: white;
  padding: 5px;
  border: 1px solid #8d99ae;
}

.info-sec3 {
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.birthday-container {
  width: 25%;
}

.info-bir {
  background-color: white;
  padding: 5px;
  border: 1px solid #8d99ae;
}

.email-container {
  padding-left: 26px;
  width: 80%;
}

.info-eml {
  background-color: white;
  padding: 5px;
  border: 1px solid #8d99ae;
}


/* ----Garage---- */
.garage-container {
  padding:15px;
  width: 100%;
  margin-bottom: 30px;
  height: 300px;
}
.garage-title {
  padding-bottom: 18px;
}

.inner-garage-container {
  background-image: linear-gradient( #edf2f4 5%, #8d99ae 90% );
  border-radius: 12px;
  
  width: 100%;
  height: 232px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0.5);
}
.bikes-container:after {
  margin-top: -30px;
  margin-left: 20px;
  font-weight: 500;
  content: "Looks empty, add a Bike!";
  position: absolute;
  z-index: 0;
}

.bike-tab {
  display: flex;
  width: 100%;
}

.bike-tab ul {
  padding: 0;
  width: 100%;
  display: flex;
  z-index: 1;
}
.bike-tab li {
  cursor: pointer;
  display: inline-block;
  background-image: linear-gradient( #edf2f4 5%, #8d99ae 90% );
  color: #2b2d42;
  text-align: center;
  width: 100%;
  border: 3px solid #2b2d42;
  padding: 16px 20px;
  border-radius: 12px 12px 0 0;
  margin-top: -8px;
}
.bike-tab li:hover {
  color: #ffb703;
}

.bike-tab li:focus {
  background-image: linear-gradient( #2b2d42 0%,#8d99ae 55%, #edf2f4  100% );
  border-bottom:none;
  padding-top: 19px;
}

.add-btn {
  font-family: sans-serif;
  font-weight: 800;
  cursor: pointer;
  display: inline-block;
  background-image: linear-gradient( #edf2f4 5%, #8d99ae 90% );
  color: #2b2d42;
  text-align: center;
  width: 50%;
  border: 3px solid #2b2d42;
  padding: 16px 10px;
  border-radius: 12px 12px 0 0;
  margin-top: -8px;
  z-index: 1;
}
.add-btn:hover {
  color: #ffb703;
}

.add-btn:focus {
  background-image: linear-gradient( #2b2d42 0%,#8d99ae 55%, #edf2f4  100% );
  border-bottom: none;
  padding-top: 19px; 
}


/* --------About me -------- */
.about-container {
  padding: 15px;
  width: 100%;
  height: 300px;
  margin-bottom: 12px;
  border-top: 2px solid #edf2f4;
  border-bottom: 2px solid #edf2f4;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0.5);
}

.about-sec-title {
  padding-bottom: 10px;
  
}

.txt-area {
  padding: 5px;
  width: 100%;
  height: 216px;
  border: 3px solid black;
  font-size: 14px;
}

/* -----Gallery------ */
.gallery {
  text-align: start;
  padding: 10px;
}
.a-gallery {
  padding-bottom: 10px;
}

.inner-gal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0.5); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0.5);
}

.img-gal  {
  object-fit: cover;
  width: 180px;
  height: 180px;
}


@media screen and (min-width: 768px){
  * {
    font-size: 16px;
  }
  .wrap-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  /* ----Avatar container---- */
  .username {
    font-size: 24px;
  }
  
  .user-id {
    font-size: 20px;
    padding-left: 2px;
  }
  /* -----Account details---- */
  
  .user-info {
    width: 100%;
    padding:30px 15px;
  }

  .info-sec1{
    width: 100%;
  }
  
  .info-sec2-3 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }
  
  .state-container {
    padding-left: 10px;
  }
  .birthday-container {
    padding-left: 10px;
  }
  
  .email-container {
    padding-left: 10px;
  }

  /* ----Garage---- */

  .garage-container {
    width: 49%;
    margin-right: 1%;
    padding: 15px;
    height: 320px;
    margin-bottom: 12px;
    border-top: 2px solid #edf2f4;
    border-bottom: 2px solid #edf2f4;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0.5);
  }
  .inner-garage-container {
    width: 100%;
    height: 236px;
    box-shadow:none;
  }
  .bike-tab li {
    padding: 16px 12px;
  }
  /* --------About me -------- */
  .about-container {
    width: 49%;
    margin-left: 1%;
    height: 320px;
  }
  .txt-area {
    width: 100%;
    height: 245px;
    border-radius: 12px;
  }
  /* -----Gallery------ */
  .gallery {
    width: 100%;
    border-top: 2px solid #edf2f4;
    border-bottom: 2px solid #edf2f4;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0.5);
  
  }
  .img-gal {
    width: 350px;
    height: 350px;
  }
}
  
  
  
@media screen and (min-width: 1020px){
  *{
    font-size: 18px;
  }
  /*----avatar container----*/
  .avatar-container {
    padding-top: 25px;
    padding-left: 30px;
  }
  .username {
    font-size: 34px;
    padding-left: 30px;
  }
  .user-id {
    font-size: 20px;
    padding-left: 33px;
  }
  /*----account details----*/
  .user-info {
    width: 39.5%;
    height: 280px;
    margin-right: .5%;
  }
  .info-sec-title {
    text-shadow: none;
  }
  .info-sec2-3 {
    display: block;
    padding-top:0;
  }
  .info-sec2 {
    padding-top: 20px;    
  }
  .info-sec3 {
    padding-top: 20px;
  }
  .birthday-container {
    padding-left: 0;
  }
  
  /*----garage container------*/
  .garage-container {
    display: flex;
    justify-content: center;
    width: 59.5%;
    margin-left: .5%;
    margin-right: 0;
    height: 280px;
  }
  .garage-title {
    padding-right: 20px;
  }
  .inner-garage-container{
    height: 83%;
    width: 100%;
  }
  
  /*----about container----*/
  .about-container{
    width: 39.5%;
    margin-left: 0;
    margin-right: .5%;
    height: 325px;
  }
  .txt-area {
    width: 95%;
    height: 255px;
  }
  
  /*---- Gallery container----*/

  .gallery {
    width: 59.5%;
    padding-bottom: 30px;
    margin-left: .5%;
    height: 325px;
  }
  .a-gallery {
    padding-left: 20px;
    text-align: start;
  }
  .inner-gal-container{
    display: flex;
    justify-content: center;
    width: 600px;
    padding-left: 8%;
  }
  .img-gal {
    height: 120px;
    width: 120px;
  }
}