/* You can add global styles to this file, and also import other style files */
:root {
  --text:#edf2f4;
  --darkgreen1: #a8dadc;
  --darkgreen2: #457b9d;
  --darkgreen3: #1d3557;
  --highlight: #f1faee;
}

* {
  margin: 0;
  box-sizing: border-box;
}
html, body { 
  height: 100%; 
}
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
