.bike-profile {
  /* background-image: linear-gradient(  #8d99ae 35%, #edf2f4 100% ); */
  background-image: linear-gradient( #edf2f4 5%, #8d99ae 90% );
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 3px solid #2b2d42;
  border-top: none;
}

.content-value {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 15px 0px 5px 30px;
}

h4 {
  padding: 5px 5px 3px;
  color: #ffb703;
  text-shadow: black 2px 2px 0;
  
}

.bike-info {
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  width: 80%;
}

.info-sec1 {
  width: 50%;
}

.info-sec2 {
  width: 50%;
}

.info-sec3 {
  width: 50%;
}

.info-sec4 {
  width: 50%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  padding: 5px 5px 12px 5px;
}