<div class="bike-profile">
    <div class="content" >
        <div class="content-value" id="{{currentBike.id}}">
            <h4>Type</h4>
            <p class="bike-tps">{{currentBike.type}}</p>
            <h4>Make</h4>
            <p class="bike-mk">{{currentBike.make}}</p>
            <h4>Model</h4>
            <p class="bike-mdl">{{currentBike.model}}</p>
            <h4>Engine Size</h4>
            <p class="bike-eng">{{currentBike.engineSize}}</p> 
        </div>
    </div>
    <button type="button" (click)="sendNumber()"> save </button>
</div>